#REQUIRE KEYS
is=["8000000000000120","80000000000000d1","8000000000000047"]
p=println
pr=print
pe={pause() exit()}
wait={t=timer()while(timer()<(t+tw)){print("Warte fuer",(t+tw-timer()/1000),"seconds \r")}}
p("System entferner\n")
op=["Beenden","sysMMC loeschen"].copy()
if (emu()){op+"emuMMC loeschen"}
r=menu(op,0)clear()
if(r==0){exit()}
if(r==1){p("sysMMC ausgewaehlt")mount=mountsys}
if(r==2){p("emuMMC ausgewaehlt")mount=mountemu}
if(mount("SYSTEM")){p("Einbinden fehlgeschlagen!")pe()}
color(0xFF0000)
p("Wirklich sicher, dass du alles loeschen willst?\nDies schliesst ein:\n- Speicherstaende\n- Spieldaten\n- Alle anderen Systemdaten\n\nVerwenden dies nur als letzten Ausweg!")
color(0xFFFF00)
tw=10000
wait()
color(0x0000FF)
p("POWER Taste um alles zu loeschen, jede andere Taste zum Beenden")a=pause()if(!a.power){exit()}clear()
color(0xFF0000)
pr("Löschen vom Systemspeicher... ")
f=readdir("bis:/save")
if(f.folders.len()!=0){p("Folders in save dir???")pe()}
f.files.foreach("x"){if(!is.contains(x)){if(delfile("bis:/save/"+x)){p("Löschen der Datei fehlgeschlagen: ", x)pe()}}}
pr("Abgeschlossen!\nLoesche Benutzerverzeichnisse...")ud=["Album","Contents","save","saveMeta","temp"]
if(mount("USER")){p("Einbinden fehlgeschlagen!")pe()}
ud.foreach("x"){pr("\n"+x,"")if(deldir("bis:/"+x)){p("Loeschen vom Verzeichnis fehlgeschlagen")pe()}mkdir("bis:/"+x)}
mkdir("bis:/Contents/placehld")mkdir("bis:/Contents/registered")
color(0x00FF00)p("\n\nAbgeschlossen!")pause()